.nav-link-list {
    width: 100%;

    border: 1px solid #498b88;

    box-sizing: border-box;
    

    display:flex;
    justify-content: space-between;

    margin: 0 auto;
    background-color: #a0b8ae;
    opacity: 0.8;
}

 .nav-link {
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    color: black;
    
    width: 200px;
    padding: 30px 0;
    text-align: center;
}

 .nav-link:hover {
    background-color: #498b78;
    border-radius: 20px;
}
.nav-link:focus {
    background-color: #498b78;
    border-radius: 20px;
}


 .user {
    position: relative;

    
}

.nav-bar {
    display: flex;
    flex-direction: column;

    position: absolute;
    bottom: -165px;
}

.nav-bar--link {
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    color: black;
    cursor: pointer;
    
    width: 200px;
    padding: 30px 0;
    text-align: center;
    background-color: #a0b8ae;

}


.nav-link-logo {
   background-color: #5673b3;
   font-family: fantasy;
   color: #222f4d;
   font-size: 22px;
   font-weight: bold;

}
.nav-link-logo:hover {
    background-color: #62498b;
}


.imgUser {
    position: absolute;

    top: 30px;
    right: 20px;
    width: 20px;
    height: 20px;
    background-image: url('./img/settingUser.png');
    background-size: cover;
}


.nav-bar-hidden {
    display: none;
}

.user-avatar {
    border-radius: 50%;
}

