/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-image: url(./fantasy_world.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-tab-label {
    background-color: rgb(107, 196, 161);
}

.mat-raised-button {
    margin: 0 auto;
}

.book_shop_card-list {
    z-index: -1;
display: flex;
flex-wrap: wrap;


}