/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-image: url(./fantasy_world.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-tab-label {
    background-color: rgb(107, 196, 161);
}

.mat-raised-button {
    margin: 0 auto;
}

.book_shop_card-list {
    z-index: -1;
display: flex;
flex-wrap: wrap;


}
// .spinner {
//   margin: 400px auto;
//   width: 50px;
//   height: 40px;
//   text-align: center;
//   font-size: 10px;
// }

// .spinner>div {
//   background-color: #333;
//   height: 100%;
//   width: 6px;
//   display: inline-block;

//   -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
//   animation: sk-stretchdelay 1.2s infinite ease-in-out;
// }

// .spinner .rect2 {
//   -webkit-animation-delay: -1.1s;
//   animation-delay: -1.1s;
// }

// .spinner .rect3 {
//   -webkit-animation-delay: -1.0s;
//   animation-delay: -1.0s;
// }

// .spinner .rect4 {
//   -webkit-animation-delay: -0.9s;
//   animation-delay: -0.9s;
// }

// .spinner .rect5 {
//   -webkit-animation-delay: -0.8s;
//   animation-delay: -0.8s;
// }

// @-webkit-keyframes sk-stretchdelay {

//   0%,
//   40%,
//   100% {
//     -webkit-transform: scaleY(0.4)
//   }

//   20% {
//     -webkit-transform: scaleY(1.0)
//   }
// }

// @keyframes sk-stretchdelay {

//   0%,
//   40%,
//   100% {
//     transform: scaleY(0.4);
//     -webkit-transform: scaleY(0.4);
//   }

//   20% {
//     transform: scaleY(1.0);
//     -webkit-transform: scaleY(1.0);
//   }
// }